.accordion {
    border: 1px solid #ddd;
    box-shadow: 4px 4px 6px rgba(68, 68, 68, 0.2);
    margin-top: 15px;
    margin-right: 6px;
    margin-left: 9px;
    border-radius: 15px;

  }
  
  .accordion-header {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    display: flex;
  }
  .accordion-content {
    padding: 10px;
    display: block;
  }
  
  .accordion-content.show {
    display: block;
  }
  .accordian-title {
    flex-grow: 1;
  }
  .accordian-arrow {
    margin-right: 0.5rem;
    transform: rotate(0);
    transition: transform 0.3s;
  }
  .accordion.collapsed .accordian-arrow {
    transform: rotate(-90deg);
  }

  