.icon-high-warning{
    display : inline-flex ;
    align-items : center;
    color : red;
    padding-top: 4px;
    margin-right: 0.5rem;

}
.icon-low-warning{
    display : inline-flex ;
    align-items : center;
    color : rgba(255, 81, 0, 0.689) ;
    padding-top: 4px;
    margin-right: 0.5rem;

}
.icon-no-warning{
    display : inline-flex ;
    align-items : center;
    color : green;
    padding-top: 4px;
    margin-right: 0.5rem;

}