.keyword {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 14px;
    margin-bottom: 10px;
    width: 40%;
    height: 10%;
    padding-left: 4px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 5px 5px 7px rgba(68, 68, 68, 0.2);
}