.score-display {
    text-align: center;
    
  }
  
  .score-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    box-shadow: 4px 4px 6px rgba(68, 68, 68, 0.2);
    margin: '10px';
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  @media (max-width: 767px) {
    .score-circle {
      width: 80px;
      height: 80px;
    }
  
    .score {
      font-size: 20px;
    }
  }
  
  @media (max-width: 479px) {
    .score-circle {
      width: 60px;
      height: 60px;
    }
  
    .score {
      font-size: 16px;
    }
  }
  