.right-content {
  width: 40%;
  height: 80%;
}

.page {
  display: flex;
  width: 100%;
  justify-content: center;
  
  /* margin-top: 5px; */
}

.leftside {
  flex: 0.6;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  height: 92vh;
  width: 30%;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  border-radius: 7px;
  text-align: center;
}

.rightside {
  flex: 0.8;
  margin: 5px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 92vh;
  width: 50vw;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  border-radius: 7px;
  text-align: center;
  overflow: scroll;
  box-shadow: 4px 4px 6px rgba(68, 68, 68, 0.2);
}